.idea
bin
/dist
*.iml
.sc/cfg.default.yaml
.sc/cfg.github.yaml
.sc/cfg.test.yaml

pkg/clouds/pulumi/testdata/secrets/cloudflare-e2e-config.yaml
pkg/clouds/pulumi/testdata/secrets/gcp-e2e-config.yaml
pkg/clouds/pulumi/testdata/secrets/aws-e2e-config.yaml
pkg/clouds/pulumi/testdata/secrets/pulumi-e2e-config.yaml
.sc/stacks/dist/secrets.yaml